<footer>
  <div class="footer-container">
    <a href="https://twitter.com" class="icon">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="https://instagram.com" class="icon">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="mailto:someone@example.com" class="icon">
      <i class="fa-regular fa-envelope"></i>
    </a>
    <a href="https://linkedin.com" class="icon">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
</footer>
