<footer>
  <% if (success_msg && success_msg.length > 0) { %> <% success_msg.forEach(function(msg) { %>
  <div class="alert alert-success"><%= success_msg %></div>
  <% }); %> <% } %> <% if (error_msg && error_msg.length > 0) { %>
  <div class="alert alert-danger"><%= error_msg %></div>
  <% } %>
  <div class="footer-container">
    <a href="https://twitter.com" class="icon">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="https://instagram.com" class="icon">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="mailto:someone@example.com" class="icon">
      <i class="fa-regular fa-envelope"></i>
    </a>
    <a href="https://linkedin.com" class="icon">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
</footer>
