        <footer>
            <div class="copyright-container">
                <p class="copyright">&copy; 2025 Norm's Post</p>
            </div>
            <div class="socials">
                <p>
                    <i class="fa-brands fa-facebook"></i> |
                    <i class="fa-brands fa-instagram"></i> |
                    <i class="fa-brands fa-x-twitter"></i>
                </p>
            </div>
        </footer>
    </body>
</html>