<header>
  <div class="header-container">
    <a href="/" class="logo">
      <img src="./assets/images/NORM.png" alt="Logo" />
    </a>
    <input type="text" class="search-bar" placeholder="Search..." />
    <div class="header-icons">
      <a href="#" class="icon">
        <i class="fa-regular fa-heart"></i>
      </a>
      <a href="/sell" class="icon">
        <i class="fa-solid fa-circle-plus"></i>
      </a>
      <a href="/profile" class="icon">
        <!-- <img src="/path/to/profile-pic.png" alt="Profile" class="profile-pic" /> -->
        <i class="fa-solid fa-circle-user"></i>
      </a>
    </div>
  </div>
</header>
