<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= "Norm's Trading Post" + (typeof title !== "undefined" ? " | " + title : "") %></title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="/assets/icons/signs-post-solid.svg" />
  <script src="https://kit.fontawesome.com/b593ca79be.js" crossorigin="anonymous"></script>
</head>
