<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <!-- Section -->
    <section class="landing-section">
      <h1>Norm's Trading Post</h1>
      <p>The place where anyone can find gold.</p>
      <div class="button-group">
        <button type="button" class="primary-button"><a href="./login">Sign In</a></button>
        <button type="button" class="secondary-button"><a href="./login">Register</a></button>
      </div>
    </section>

    <!-- Image -->
    <img src="./assets/images/UNCC.png" alt="UNCC Campus" class="banner-image" />

    <!-- Testimonials Section -->
    <!-- <section class="testimonials">
      <h2>Testimonials</h2>
      <p class="subheading">Subheading</p>
      <div class="testimonial-grid">
        <div class="testimonial">
          <blockquote>“Quote”</blockquote>
          <img src="./assets/images/user.png" alt="User photo" />
          <p class="title">Title</p>
          <p class="description">Description</p>
        </div>
        <div class="testimonial">
          <blockquote>“Quote”</blockquote>
          <img src="./assets/images/user.png" alt="User photo" />
          <p class="title">Title</p>
          <p class="description">Description</p>
        </div>
        <div class="testimonial">
          <blockquote>“Quote”</blockquote>
          <img src="./assets/images/user.png" alt="User photo" />
          <p class="title">Title</p>
          <p class="description">Description</p>
        </div>
        <div class="testimonial">
          <blockquote>“Quote”</blockquote>
          <img src="./assets/images/user.png" alt="User photo" />
          <p class="title">Title</p>
          <p class="description">Description</p>
        </div>
        <div class="testimonial">
          <blockquote>“Quote”</blockquote>
          <img src="./assets/images/user.png" alt="User photo" />
          <p class="title">Title</p>
          <p class="description">Description</p>
        </div>
        <div class="testimonial">
          <blockquote>“Quote”</blockquote>
          <img src="./assets/images/user.png" alt="User photo" />
          <p class="title">Title</p>
          <p class="description">Description</p>
        </div>
      </div>
    </section> -->

    <!-- Footer -->
    <%- include('partials/footer') %>
  </body>
</html>
